.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 384px;
  padding: 15px;
  height: 200px;
  font-size: 14px;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 10px 0 5px;
}

label {
  color: #505050;
  margin-right: 5px;
  width: 74px;
  font-size: 11px;
  text-align: end;
}

.field {
  background: #ffffff;
  color: v-bind(primaryColor);
  border: 1px solid;
  border-color: linear-gradient(to right, #767676 50%, #858585 50%);
  border-radius: 2px;
  font-size: 1rem;
  padding: 0 2px;
  white-space: nowrap;
  position: relative;
  text-overflow: ellipsis;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  width: 156px;
  height: 20px;
  font-weight: 400;
  line-height: 1.5;
  transition: background 0.1s linear 0s, border-color 0.1s linear 0s;
}
.header-loginbox-content {
  display: grid;
}
.button {
  justify-self: end;
  width: 72px;
  height: 20px;
  background: url(backofficebutton.png) no-repeat center;
  color: transparent;
  border: none;
}
.button:disabled,
.button:disabled:hover {
  cursor: not-allowed !important;
  background: url(backofficebutton.png) no-repeat center;
}

.captcha {
  justify-self: flex-end;
}
